/*KOD USUWAJĄCY BANER CBA I LINK ZE STRONY*/
div#top_10
{
display: none;
}
div.cbalink
{
display: none;
}
[style="text-align:center;font-size:11px;font-family:arial;background-color:black;color:white"]
{
display: none;
}
[style="position: fixed; text-align: center; width: auto; height: auto; max-width:100%; z-index: 9999; top: 10px;"]
{
display: none;
}
/*KOD USUWAJĄCY BANER CBA I LINK ZE STRONY*/
*
{
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
body
{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.row
{
    display: flex;
    flex-direction: column;
    
}
.main
{
    flex: 100%;
}
.title_page
{
    flex: 100%;
    width: 100%;
    height: 800px;
    z-index: -1;
    background-image: url(megafon2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title
{
    flex: 100%;
    width: 100%;
    height: 300px;
    background-color: midnightblue;
}
.title > h1
{
    font-size: 80px;
}
div.little
{
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
p.p_little
{
    font-size: 15px;
    padding: 3px;
    white-space: pre-line;
    text-align: left;
}
p.p_small
{
    font-size: 18px;
    margin: 20px auto;
    width: 60%;
    line-height: 1.4;
    text-align: left;
    white-space: pre-line;
}
p.p_middle
{
    font-size: 22px;
    text-align: center;
}
p.p_big
{
    margin: 20px auto;
    font-size: 27px;
    width: 60%;
}
#justify
{
    text-align: justify;
}
.title_page > h1
{
    font-size: 100px;
}
h1
{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    margin: 30px;
}
h2.h_big
{
    text-align: center;
    font-size: 55px;
    text-transform: uppercase;
    margin: 15px;
}
h2.h_middle
{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}
h2.h_small
{
    font-size: 23px;
    text-align: left;
}
.info
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
}
#contact > h2.h_small
{
    text-align: left;
}
#links
{
    display: flex;
    flex-direction: column;  
}
#links a
{
    text-decoration: none;
    text-align: left;
    line-height: 1.8;
    transition-duration: .6s;
    color: #000;
    cursor: pointer;
    
}
#links a:hover
{
    color: rgb(50, 42, 162);
}
#links, #contact
{
    text-align: left;
}
.block > h2.h_middle, p.p_middle
{
    color: white;
}
.nav
{
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    flex-direction: row;
    justify-content: flex-start;
    background: rgba(3,3,3,.5);
    overflow: hidden;
}
.nav a
{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding: 15px;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}
.nav a:hover
{
    color: hotpink;
}
.blocks
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: blueviolet;
}
.block
{
    padding: 20px;
    width: 100%;
    text-align: center;
}
.blocks a
{
    text-decoration: none;
    color: white;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    
}
.blocks a:hover
{
    color: #413c69;
}
.donate, .image_and_text
{
    display: flex;
    flex-direction: row;
}
.donate > .color_article
{
    flex: 50%;
}
.image_and_text > .white_article
{
    flex: 50%;
}
#image_donate
{
    background-image: url(ludzie.jpg);
}
.image
{
    flex: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.big_image
{
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.button
{
    box-sizing: content-box;
    margin: 20px auto;
    text-align: center;
    font-size: 18px;
    width: 160px;
    padding: 13px;
    border-radius: 5px;
    background-color: rgb(130, 126, 187);
    cursor: pointer;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}
.button > a
{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.button:hover
{
    background-color: rgb(86, 83, 129);
    transform: scale(1.05);
}
.white_article, .color_article, .callendar
{
    padding: 15px;
}
.color_article
{
    color: #fff;
    background-color: midnightblue;
}
li
{
    list-style: none;
    font-size: 27px;
}
.date
{
    font-size: 33px;
    color: rgb(50, 42, 162);
}
.callendar ul 
{
    list-style: none;
    color: #333333;
    font-size: 25px;
    text-align: center;
    margin: 30px 0;
    padding: 10px;
    line-height: 1.5;
}
#join
{
    margin-left: auto;
    background-color: rgb(130, 126, 187);
    cursor: pointer;
    transition-duration: .5s; 
}
#join:hover
{
    color: darkblue;
    transform: scale(1.05);
}
.info input
{
    width: 100%;
    border-width: 0 0 7px 0;
    border-bottom-color: rgb(50, 42, 162);
}
.info input:hover
{
    border-bottom-color: rgb(130, 126, 187);
    transition-duration: .7s;
}
.info input:focus
{
    border-bottom-color: rgb(130, 126, 187);
}
.footer
{
    background-color: rgb(130, 126, 187);
    width: 100%;
    color: white;
}

form
{
    font-size: 17px;
    margin: 0 auto;
    width: 400px;
}
form label
{
    padding: 10px;
    margin: 10px;
    text-indent: 0;
    font-family: Helvetica;
    font-size: 13px;
}
form > input
{
    padding: 10px;
    width: 100%;
    border-width: 0 0 7px 0;
    border-bottom-color: rgb(50, 42, 162);
}
#logo
{
    position: fixed;
    z-index: 99;
    opacity: 60%;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: white;
    background-image: url(logo.png);
    background-position: center;
    background-size: cover;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}
#logo:hover
{
    opacity: 100%;
}
#agree
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@media screen and (max-width: 900px)
{
    .nav, .info, .blocks, .donate, .image_and_text
    {
        flex-direction: column;
    }
    h2.h_big
    {
        font-size: 30px;
    }
    .title
    {
        height: 500px;
    }
    .title_page h1
    {
        font-size: 9vw;
    }
    .title > h1
    {
        font-size: 8.5vw;
    }
    p.p_small, p.p_big
    {
        width: 85%;
    }
    form p.p_little
    {
        font-size: 12px;
    }
    form
    {
        width: 70vw;
    }
    #join
    {
        margin: 0;
    }
}
@media screen and (max-width: 550px)
{
    h2.h_middle
    {
        font-size: 10vw;
    }
    #join
    {
        margin: 0;
    }
}